.THIS.filter {
    padding: 10px;
    width: 100%;
    border: solid 1px #ddd;
    box-shadow: 0 0 33px -17px #000;
}

.THIS * {
    box-sizing: border-box;
}

.THIS .filter_row {
    padding: 10px 5px 5px 5px;
    border-bottom: solid 1px #eee;
    text-align: left;
}

.THIS .filter_row:last-child {
    border-bottom: 0;
}

.THIS .filter_blocks {
    display: none;
}

.THIS .filter_row[data-active="true"] .filter_blocks {
    display: block;
    padding: 5px;
}

.THIS .filter_block {
    padding: 10px 0 0 0;
}

.THIS .filter_block .block_title {
    font-size: 14px;
    color: #484848;
}

.THIS .filter_block .block_values {
    padding: 5px 0 0 5px;
}

.THIS .block_values .block_value {
    padding: 5px 0 0 0;
    font-size: 14px;
    color: #464646;
}

.THIS .block_values .block_value input {
    float: left;
    margin: 0 5px 0 0;
    display: inline-block;
}

.THIS .filter_row > a {
    color: #505050;
}

.THIS .filter_row[data-active="true"] > a {
    background: #ffffff;
    font-weight: bold;
}

.THIS .block_values .block_value select {
    padding: 5px 10px;
}