.THIS {}

.THIS legend.slds-form-element__legend.slds-form-element__label, .THIS label.slds-form-element__label > span {
    display: none;
}

.THIS fieldset.slds-form-element {
    padding: 0;
    border: 0;
}