.THIS .column-md-12.column-lg-4.column--pad.m-bottom-25.m-bottom-0--media-md {
    margin-bottom: 17px;
}
.THIS .list-group__item:last-child  {
    border-bottom: 1px solid #e4e7ed;
}
.THIS .list-group__item a {
    font-family: 'source_sans_prolight', Arial, sans-serif;
    text-decoration: none;
    color: #4c4b58;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.THIS .list-group__item {
    padding: 0 0 17px 0;
}
@media only screen and (min-width: 992px) {
    .THIS .itemBorder {
        border-bottom: none !important;
    }
}
@media only screen and (max-width: 992px) {
    .THIS .column-md-12.column-lg-4.column--pad.m-bottom-25.m-bottom-0--media-md {
        margin-bottom: 0;
    }
    .THIS .list-group {
        padding: 0 30px;
    }
    .THIS .list-group__item {
        padding: 17px 0px;
    }
}
.THIS .column-md-12.column-lg-4.column--pad.m-bottom-25.m-bottom-0--media-md:last-child li {
    border-bottom: none;
}
