/.localHistory
/ant
/Soql
/Logs
/AnonymousApex
/src/staticresources/*
LghtIdeas.sfproj
LghtIdeas.sfsln
LghtIdeas.v12.sfuo
**/.localHistory
*.sfuo
TestCache.xml
TestsResultsCache.xml
*.zip
*.iml
_dev/gulpfile.js
_dev/package.json
.idea
.project
/.settings
salesforce.schema
Referenced Packages/
/Referenced Packages
