/.localHistory
/ant
/Soql
/Logs
/AnonymousApex
LghtIdeas.sfproj
LghtIdeas.sfsln
LghtIdeas.v12.sfuo
**/.localHistory
*.sfuo
TestCache.xml
TestsResultsCache.xml
*.zip
*.iml
_dev/gulpfile.js
_dev/package.json
.idea
.project
/.settings
/Referenced Packages/
salesforce.schema
/backup
projectFilesBackup