

.THIS .ponny.panel-media-small__icon{
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: transparent !important;
}
.THIS .label:active{
    /*background-color: #f5f7ff;*/
}
.THIS .label:hover{
    background-color: transparent !important;
}
.THIS .label{
    text-align: left;
    font-family: 'source_sans_proregular', Arial, sans-serif;
    font-size: 0.9375rem;
}
.THIS .askCommunityBtn{
    padding:0;
    background-color: transparent !important;
    color: #34313f;
    text-transform: none;
    font-weight: normal;
}
.THIS .askCommunityBtn:active{
    background-color: #f5f7ff;
}
.THIS .askCommunityBtn:hover{
    background-color: #f5f7ff;
}
.THIS .askCommunityBtn:focus {
    box-shadow: none;
}

.THIS #contact-lvl-2{
   left: -450px;
}
.THIS #contact-lvl-2.contact-lvl-2--active{
   left: 0;
}