.THIS .ponny.panel-media-small__icon{
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: transparent !important;
}
.THIS .label:active{
    /*background-color: #f5f7ff;*/
}
.THIS .label:hover{
    background-color: transparent !important;
}
.THIS .label{
    text-align: left;
    font-family: 'source_sans_proregular', Arial, sans-serif;
    font-size: 0.9375rem;
}
.THIS .askCommunityBtn{
    padding:0;
    background-color: transparent !important;
    color: #34313f;
    text-transform: none;
    font-weight: normal;
}
.THIS .askCommunityBtn:active{
    background-color: #f5f7ff;
}
.THIS .askCommunityBtn:hover{
    background-color: #f5f7ff;
}
.THIS .askCommunityBtn:focus {
    box-shadow: none;
}

.THIS #contact-lvl-2{
   left: -450px;
}
.THIS #contact-lvl-2.contact-lvl-2--active{
   left: 0;
   min-height:110%;
}
.THIS .panel-media-small__text.header__contact-body-panel-text.grey{
    color:#D5D7DD;
    padding-top:10px;
}
.THIS .cLiveAgentChatButton .disabled {
    background-color: transparent !important;
}
.THIS .cLiveAgentChatButton{
    width: 100% !important;
}
.THIS .contact_wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc( 100% - 70px);
    background: #ffffff;
}
