.THIS .cBrNotifications .unsNotificationsCounter .headerButtonBody {

}
.header-plugs.cBrHeaderMobile {
    position: fixed;
    top: 70px;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.header-plugs.cBrHeaderMobile.show {
    display: block;
}