.THIS .toggle {
    display: none !important;
}
.THIS img {
    cursor: pointer;
}
.THIS .header__profile-dropdown-userpic img {
    width: 45px;
    height: 45px;
}
.THIS .header__profile-dropdown-list {
    padding-top: 16px;
    padding-bottom: 16px;
}
.THIS .header__profile-dropdown-list-link {
    font-family: 'source_sans_prosemibold', Arial, sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}
.THIS .login {
    text-transform: uppercase;
    width: 60px;
    height: 23px;
    font-family: 'source_sans_prosemibold', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    position: absolute;
    transform: translate(0, -50%);
    text-decoration: none;
    cursor: pointer;
}