.THIS .link,
.THIS .list-group__item {
    cursor: pointer;
}
.THIS .list-group__item a {
    font-family: 'source_sans_prolight', Arial, sans-serif;
    text-decoration: none;
    color: #4c4b58;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.THIS .list-group__item {
    padding: 17px 0;
}
.THIS .column-md-12.column-lg-4.column--pad.m-bottom-25.m-bottom-0--media-md:last-child li {
    border-bottom: none;
}
