.THIS {
    display: inline-block;
    position: relative;
    width: 20px;
    min-height: 70px;
    margin-left: 20px;
    text-align: left;
}
.THIS > .slds-button {
    position:absolute;
    top:45%;
}
.THIS .unsNotificationsCounter .headerButtonBody svg{
  display: none;
}
.THIS .unsNotificationsCounter .headerButtonBody {
    width: 14px;
    height: 18px;
    border-left: 2px solid #d0d6e0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.THIS .unsNotificationsCounter .headerButtonBody > .countDot {
    width: 17px;
    height: 14px;
    border-radius: 7px;
    background-color: #fe4f81;
    left: 10px;
}
.THIS .countDot > .counterLabel {
    font-family: SourceSansPro;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
    padding: 0;
    display: block;
}
@media only screen and (max-width: 992px) {
    .THIS .unsNotificationsCounter .headerButtonBody {
        width: 15px;
        height: 22px;
        border-left: 2px solid #ffffff;
    }
    .THIS .unsNotificationsCounter .headerButtonBody:before {
        width: 100%;
        position: absolute;
        border-top: 5px solid #ffffff;
        border-bottom: 5px solid #ffffff;
        border-right: 3px solid transparent;
        content: "";
    }
    .THIS >.slds-button {
        top: 48%;
    }
}