.THIS,
.THIS div,
.THIS input,
.THIS label,
.THIS span,
.THIS select,
.THIS p,
.THIS b {
    box-sizing: border-box;
}

.THIS .left_content {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    max-width: 290px;
    padding: 10px;
}

.THIS .right_content {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.THIS .search_input {
    width: 100%;
    display: block;
    box-shadow: 0 0 1px 1px #efefef;
}

.THIS .search_input input {
    width: 100%;
    padding: 10px;
    border: solid 1px #d4d4d4;
}

.THIS .content_search {
    width: 100%;
    padding: 10px;
}

.THIS .search_result.search_categories {
    margin: 0;
    width: 100%;
}

.THIS .search_category {
    border: solid 1px #ddd;
    padding: 15px;
    margin: 0 0 10px 0;
    box-shadow: 0px 0px 33px -17px #000;
}

.THIS .category_title {
    font-size: 18px;
    font-weight: bold;
    color: #3c3c3c;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.THIS .category_items {
    padding: 10px;
    width: 100%;
}

.THIS .category_item {
    width: 100%;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.THIS .category_item .item_left {
    display: inline-block;
    width: 24%;
    height: 100%;
    padding: 10px 10px 0 0;
    vertical-align: top;
    text-align: right;
}

.THIS .category_item .item_right {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    border-left: solid 2px #dadada;
    padding: 5px 0 5px 10px;
    font-size: 15px;
}

.THIS .category_item .item_type {
    font-weight: bold;
    margin: 0 0 7px 0;
    color: #5f5f5f;
}

.THIS .category_item .item_line {
    font-weight: bold;
    color: #000000;
    margin: 0 0 7px 0;
}

.THIS .category_item .item_line .sep {
    padding: 0 5px;
    color: #000000;
    font-size: 11px;
}

.THIS .category_item:hover .item_right {
    background: #f7f7f7;
    cursor: pointer;
}

.THIS .category_item .item_title {
    width: 100%;
    font-weight: bold;
    margin: 0 0 7px 0;
    color: #353535;
}

.THIS .category_item .item_body {
    width: 100%;
    margin: 0 0 7px 0;
}

.THIS .category_item .item_line_title {
    padding: 0 5px 0 0;
    color: #353535;
}

.THIS em {
    text-decoration: underline;
}
.THIS .left_content[data-active="false"] {
    display: none;
}
.THIS .result_content {
    width: 100%; 
    float: right;
}

.THIS .line_content {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding: 10px;
}